<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<title>{% block title %}MTGx Programs{% endblock %}</title>
		<link href="http://fonts.googleapis.com/css?family=Lato:300,400,300italic" rel="stylesheet" type="text/css">
		<link href="/assets/main.css" rel="stylesheet" type="text/css">

	</head>
	
	<body>
		<header>
			<div class="inner">
				<div class="logo">
					<a href="/">Program</a>
				</div>

				<a href="/add" class="add">Lägg till program</a>
			</div>
		</header>

		<div class="container">
			{% block content %}
			{% endblock %}
		</div>
	</body>
</html>